<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'base_style.css') }}" />
    <title>Stock Portfolio Builder</title>
</head>
<title>
    {% block title %}
        Stock Portfolio Builder
    {% endblock %}
</title>

<body>
    <nav>
        <div class="breaks">
            <div class="bk1"></div>
            <div class="bk2"></div>
            <div class="bk3"></div>
        </div>
        <ul class="nav-icons">
            {% if current_user.is_authenticated %}
                <li>
                    <span class="username">USER: {{ current_user.username | upper }}</span>
                </li>
                <li>
                    <a href="{{ url_for('dashboard.index') }}">DASHBOARD</a>
                </li>
                <li>
                    <a href="{{ url_for('watchlist.index') }}">WATCHLIST</a>
                </li>
                <li>
                    <a href="{{ url_for('auth.logout') }}">LOG OUT</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ url_for('auth.register') }}">REGISTER</a>
                </li>
                <li>
                    <a href="{{ url_for('auth.login') }}">LOG IN</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <script src="{{ url_for('static', filename = 'javascript/navbarscript.js') }}"></script>
</body>
<section class="main-content">
    <header>
        {% block header %}
        {% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}
</section>
